$labelColor: #13100a;


html {
    box-sizing: border-box;
    cursor: default;
}

*,
*::before,
::after {
    box-sizing: inherit;
}

a {
    color: $labelColor;
    text-decoration: none;
}

body {
    margin: 0 auto;
    color: $labelColor;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input:active,
input:hover,
input:focus,
button:hover,
button:focus,
button:active {
  outline: 0;
  outline-offset: 0;
}

